<p>Hola, <strong><%= @user.email %></strong></p>

<p>Tu credito en La Tienda de Memo ha llegado a: <strong><%= @balance %></strong>, es hora de que pagues o gg</p>

<p>Saludos de parte de todo el equipo de la Tienda de Memo</p>
