// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar {
  margin-bottom: 0;
}

div#productsContainer {
  margin-top: 20px;
}

.thumbnail {
  height: 420px;
}

p.description {
  height: 90px;
  overflow: auto;
}

.label-success.balance-status>a, .label-danger.balance-status>a {
  color: white !important;
}
